.hero {
  display: flex;
  max-width: 1000px;
  max-height: 90vh;
  min-height: 58vh;
  justify-content: center;
  margin: 80px auto;
  & svg.openTag {
    margin: -25px 50px 50px 50px;
    max-width: 250px;
    max-height: 250px;
  }
  & .quote {
    font-size: 2.8rem;
    padding: 5px;
    align-items: center;
  }
  & .author {
    margin-top: 50px;
    text-align: right;
  }
  & svg.closeTag {
    margin: 200px 50px 0 50px;
    max-width: 225px;
    max-height: 225px;
  }
}

.viewWork {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 10px;
  & p {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }
  & p:hover {
    cursor: pointer;
  }
  & .viewArrow {
    height: 100px;
    width: 100px;
  }
  & .viewArrow:hover {
    cursor: pointer;
  }
}

.background-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  & .hero-background {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    width: 98%;
    height: 80%;
    & .tool {
      opacity: .2;
      width: 95px;
      height: 95px;
    }
    & .webpack {
      background: url('../assets/tools/webpack.svg');
      background-repeat: no-repeat;
      padding-left: -45px;
      margin-left: 45px;
      background-size: contain;
    }
      & .postcss {
      background: url('../assets/tools/postcss.svg');
      background-repeat: no-repeat;
      padding-left: 45px;
      margin-left: -45px;
      background-size: contain;
    }
      & .js {
      background: url('../assets/tools/js.svg');
      background-repeat: no-repeat;
      padding-top: 50px;
      margin-top: -50px;
      background-size: contain;
    }
      & .html {
      background: url('../assets/tools/html5.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
      & .node {
      background: url('../assets/tools/nodejs.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
      & .css {
      background: url('../assets/tools/css3.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
      & .react {
      background: url('../assets/tools/react.svg');
      background-repeat: no-repeat;
      padding-top: 50px;
      margin-top: -50px;
      padding-left: -75px;
      margin-left: 75px;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    width: 95%;
    height: 60%;
    & .quote {
      font-size: 2rem;
    }
  }
  .background-container {
    & .hero-background {
      grid-template-columns: repeat(5, minmax(75px, 1fr));
      & .tool {
        width: 70px;
        height: 70px;
      }
  }
 }
}

@media screen and (max-width: 600px) {
  .hero {
    width: 95%;
    & svg.openTag {
      display: none;
    }
    & svg.closeTag {
      display: none;
    }
    & .quote {
      font-size: 2rem;
    }
  }
  .background-container {
    & .hero-background {
      grid-template-columns: repeat(5, minmax(50px, 1fr));
      & .tool {
        width: 45px;
        height: 45px;
      }
  }
 }
}
