@import './navbar.css';
@import './hero.css';
@import './projects.css';
@import './about.css';

body {
  font-family: 'East Sea Dokdo', cursive;
}

.dark {
  background-color: #1d1d20;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.active li {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.flex-container {
  display: flex;
}
.flex-column-container {
  display: flex;
  flex-direction: column;
}

.text-bg {
  font-size: 4rem;
  margin-bottom: 10px;
}

.text-sm {
  font-size: 1.2rem !important;
}
.text-md {
  font-size: 2rem !important;
}