@import './navbar.css';
@import './hero.css';

body {
  background-color: #1d1d20;
  color: white;
  font-family: 'East Sea Dokdo', cursive;
}

li {
  list-style: none;
}

.active li {
  text-decoration: underline;
}

.flex-container {
  display: flex;
}

.text-bg {
  font-size: 4rem;
  margin-bottom: 10px;
}

.text-sm {
  font-size: 1.2rem !important;
}
.text-md {
  font-size: 2rem !important;
}