.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 95%;
    height: 110px;
    margin: 0 auto;
    align-items: center;
    color: white;
    & .weather {
        justify-content: left;
        gap: 0;
        align-items: center;
        padding: 0 10px;
    }
    & .moon {
        width: 30px;
        height: 30px;
    }
    & ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 35px;
    }
    & li {
        padding: 0 10px;
        font-size: 2rem;
    }
}

.loader-3{
    width : 30px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1s linear infinite;
    &:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 100%;
      transform: translate(-50% , -50%);
      width:  30px + 8px;
      height:  30px + 8px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-bottom-color: #FF3D00;
    }
  }
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }