.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 95%;
    height: 110px;
    margin: 0 auto;
    align-items: center;
    color: white;
    & .weather {
        justify-content: left;
        gap: 0;
        align-items: center;
        padding: 0 10px;
    }
    & .moon {
        width: 30px;
        height: 30px;
    }
    & ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 35px;
    }
    & li {
        padding: 0 10px;
        font-size: 2rem;
    }
    & a {
        text-decoration: none;
    }
    & a:visited {
        color: inherit;
    }
}