.projects {
  & .fixed {
    position: fixed;
    height: 100%;
    left: 15px;
    top: 30%;
  }
  & .projectsNav {
    position: relative;
  }
  & .projectsNav a:hover {
    color: rgb(27, 114, 182);
    font-weight: bold;
  }
  & .preview {
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0, .8);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    margin: 10px auto;
    width: 40%;
    max-height: 500px;
    min-height: 360px;
    & .preview-tint {
      position: absolute;
      z-index: -1;
      background-color: rgba(0,0,0,.8);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    & .header {
      justify-content: space-between;
      & .title {
        font-size: 2.8rem;
        margin-left: 10px;
      }
    }
    & .description {
      position: relative;
      width: 90%;
      margin: 5% auto 0 auto;
      text-align: center;
    }
    & .tools {
      padding: 3px;
      width: 40px;
    }
    & .buttons {
      position: relative;
      top: 30%;
      max-width: 100%;
      text-align: center;
      & button {
        font-size: 1.7rem;
        padding: 5px 15px;
        margin: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0, .8);
        transition-duration: .1s;
      }
      & button:hover {
        box-shadow: 1px 1px 5px 1px rgba(255,255,255, .8);
        border: 1px solid rgb(125,125,125);
      }
      & .live button {
        background-color: rgb(27, 114, 182);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .projects {
    & .projectsNav {
    }
    & .preview {
      width: 55%;
    }
  }
}
@media screen and (max-width: 800px) {
  .projects {
    & .projectsNav {
    }
    & .preview {
      width: 50%;
      & .header {
        & .title {
          font-size: 2rem;
        }
      }
      & .description {
        font-size: .8rem;
      }
      & .tools {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .projects {
    & .projectsNav {
      display: none;
    }
    & .preview {
      width: 95%;
    }
  }
}

@media screen and (max-width: 500px) {
  .projects {
    & .projectsNav {
      display: none;
    }
    & .preview {
      width: 95%;
      & .header {
        & .title {
          font-size: 2rem;
        }
      }
      & .description {
        font-size: .8rem;
      }
      & .tools {
        width: 30px;
      }
    }
  }
}